* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;



}

.container {
    width: auto;
    margin: auto;
}

/*header*/
header {
    background-color: black;
    height: 6em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

    height: 4em;
    width: 15%;
    align-items: center;
    background-image: url(12.jpg);
    background-size: 100% 100%;

}

.divnav {

    height: 4em;
    width: 50%;

}

.navbar {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color {
    color: white;
    font-family: cursive;
}

.color:hover {
    font-family: cursive;
    color: #EC485C;
    font-size: 1.563em;
    text-decoration: none;
}

.image {
    display: none;

}

/*sectionµ*/
section {

    width: auto;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;

    border: black solid;


}

.maine {
    background-color: #EC485C;

    height: 23.75em;
    width: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagee {

    height: 24em;
    width: 23em;
    background-image: url(transparent.png);
    background-size: 100% 100%;




}

.title3 {

    height: 15em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.twitter {

    height: 15em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;


}

.image1 {
    height: 8em;
    width: 8em;

}

h3,
.petit.title {
    color: rgb(5, 1, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
.grande.titel {
    font-family: cursive;
    color: rgb(230, 220, 220);
}

h6 {
    color: rgb(243, 234, 234);
    opacity: 70%;
}

button {
    color: white;
    background-color: black;
}

.aboutandgallery {
    height: a;

    width: auto;
    display: flex;
    justify-content: space-between;
}

.aboutme {
    height: 61.563em;
    width: 35.938em;
    background-color: #EC485C;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gallery {
    height: 61.563em;
    width: 30.938em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    color: black;
    font-family: -webkit-pictograph;
    font-size: 3em;

}

.parag {
    color: white;
    font-size: 30px;
    width: 10em;
    font-weight: inherit;
    font-variant: small-caps;
}

span {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imahe21 {
    width: 30.938em;
    height: 15em;
    border-radius: 20px;
}

.image22 {
    width: 30.938em;
    height: 15em;
    border-radius: 20px;
}

.image23 {
    width: 30.938em;
    height: 15em;
    border-radius: 20px;
}

.image31 {
    height: 15em;
    width: 15em;
    border-radius: 120px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: 33.563em;
    border: #EC485C solid;
    align-items: center;


}

.skiils {
    width: 31em;
    height: 6.313em;
    background-color: #233D4C;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

h5 {
    font-size: 50px;
    color: #EC485C;
    font-family: cursive;
}

.my4skills {
    height: auto;
    width: auto;
    border: tomato solid;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skils1 {
    width: 20.313em;
    height: 19.813em;
    background-color: #233D4C;
    border-radius: 15px;

}

.skils2 {
    width: 20.313em;
    height: 19.813em;
    background-color: #233D4C;
    border-radius: 15px;
    margin-left: 2em;
}

.skils3 {
    width: 20.313em;
    height: 19.813em;
    background-color: #233D4C;
    border-radius: 15px;
    margin-left: 2em;
}

.skils4 {
    width: 20.313em;
    height: 19.813em;
    background-color: #233D4C;
    border-radius: 15px;
    margin-left: 2em;

}
    @media (max-width:765px) {




        .logo {

            height: 4em;
            width: 15%;
            align-items: center;
            background-image: url(12.jpg);
            background-size: 100% 100%;



        }

        header {
            background-color: black;
            height: 6em;
            width: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;



        }


        .color {
            color: white;
            font-family: cursive;
            font-size: 0.625em;

        }

        .color:hover {
            font-family: cursive;
            color: #EC485C;
            font-size: 0.75em;
            text-decoration: none;
        }

    }
    .aboutandgallery {
        height: 61.563em;
    
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @media(max-width:375px) {

        .divnav {
            display: none;
        }

        .image {
            display: flex;
            height: 4em;
            width: 4em;
        }


        header {
            background-color: black;
            height: 6em;
            width: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {

            height: 4em;
            width: 30%;
            align-items: center;
            background-image: url(12.jpg);
            background-size: 100% 100%;
        }

    }