* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

header {
    background-color: black;
    height: 6em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  
    height: 4em;
    width: 15%;
    align-items: center;
    background-image: url(12.jpg);
    background-size: 100% 100%;

}

.divnav {
    
    height: 4em;
    width: 50%;

}

.navbar {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color {
    color: white;
    font-family: cursive;
}

.color:hover {
    font-family: cursive;
    color: #EC485C;
    font-size: 1.563em;
    text-decoration: none;
}

.image{
display: none;

}


@media(max-width:48em) {




    .logo {
        
        height: 4em;
        width: 15%;
        align-items: center;
        background-image: url(12.jpg);
        background-size: 100% 100%;



    }

    header {
        background-color: black;
        height: 6em;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;



    }


    .color {
        color: white;
        font-family: cursive;
        font-size: 0.625em;

    }

    .color:hover {
        font-family: cursive;
        color: #EC485C;
        font-size: 0.75em;
        text-decoration: none;
    }

}
@media(max-width:375px){

    .divnav{
        display: none;
    }
    .image{
        display: flex;
        height: 4em;
        width: 4em;
    }


    header {
        background-color: black;
        height: 6em;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     .logo{
            
            height: 4em;
            width: 30%;
            align-items: center;
            background-image: url(12.jpg);
            background-size: 100% 100%;
        }

}