* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;



}



/*header*/
header {
    background-image: url(Kin.gif);
    height: 6em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

    height: 100%;
    width: 15%;
    align-items: center;
    background-image: url(12.jpg);
    background-size: 100% 100%;

}

#toggle {
    display: none;
}

.divnav {

    height: 4em;
    width: 50%;

}

.navbar {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color {
    color: white;
    font-family: cursive;
    text-decoration: none;
}

.color:hover {
    font-family: cursive;
    color: #EC485C;
    font-size: 1.563em;
    text-decoration: none;
}

.image {
    display: none;

}

/*sectionµ*/
section {
height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border: black solid;


}
.container {
    width: auto;
    margin: auto;
   
}

.maine {
    background-color: #EC485C;
    flex: 1;
    width: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 4em 0;
}

.imagee {

    height: 19em;
    width: 26em;
    background-image: url(transparent.png);
    background-size: 100% 100%;




}

.title3 {

    height: 15em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.twitter {

    height: 15em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;


}

.image1 {
    height: 8em;
    width: 8em;

}

h3,
.petit.title {
    color: rgb(5, 1, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
.grande.titel {
    font-family: cursive;
    color: rgb(230, 220, 220);
}

h6 {
    color: rgb(243, 234, 234);
    opacity: 70%;
}

button {
    color: white;
    background-color: black;
}
.span1{
    color: blue;
}

.aboutandgallery {
    flex: 1;
background-color: rgb(255, 251, 251);
    display: flex;
    justify-content: space-around;
    margin: 0 0 4em 0;
    align-items: center;
}

.aboutme {
    height: 41.563em;
    width: 35.938em;
    background-color: #EC485C;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gallery {
    height: 61.563em;
    width: 30.938em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    color: black;
    font-family: -webkit-pictograph;
    font-size: 3em;

}

.parag {
    color: white;
    font-size: 30px;
    width: 10em;
    font-weight: inherit;
    font-variant: small-caps;
}

span {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image21 {
    width: 100%;
    height: 15em;
    border-radius: 20px;
}

.image22 {
    width: 100%;
    height: 15em;
    border-radius: 20px;
}

.image23 {
    width:  100%;
    height: 15em;
    border-radius: 20px;
}

.image31 {
    height: 15em;
    width: 15em;
    border-radius: 120px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    flex: 1;
   background-color: #EC485C;
    align-items: center;
    margin: 0 0 4em 0;


}

.skiils {
    width: 31em;
    height: 6.313em;
    background-color: #233D4C;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 0 2em 0;
    
}

h5 {
    font-size: 50px;
    color: #ffffff;
    font-family: cursive;
}

.my4skills {
    height: auto;
    width: auto;
    border: tomato solid;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skils1 {
    width: 20.313em;
    height: 19.813em;
    background-color: #233D4C;
    border-radius: 15px;

}

.skils2 {
    width: 20.313em;
    height: 19.813em;
    background-color: #233D4C;
    border-radius: 15px;
    margin-left: 2em;
}

.skils3 {
    width: 20.313em;
    height: 19.813em;
    background-color: #233D4C;
    border-radius: 15px;
    margin-left: 2em;
}

.skils4 {
    width: 20.313em;
    height: 19.813em;
    background-color: #233D4C;
    border-radius: 15px;
    margin-left: 2em;
}
footer{
    
        background-color: black;
        height: 4em;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
}

/* mediaquery*/

@media (max-width:765px) {

    .maine {
        background-color: #EC485C;
        flex: 1;
        width: auto;
       height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 2em 0;
    }
    .imagee {

        height: 24em;
        width: 35em;
        background-image: url(transparent.png);
        background-size: 100% 100%;
        margin-left: 177px;
    
    
    }
    .title3 {

    height: 15em;
    width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}
    .twitter {

        height: 15em;
        width: 20em;
        display: none;
        justify-content: center;
        align-items: center;
    
    
    }
    
    


    .logo {

        height: 100%;
        width: 15%;
        align-items: center;
        background-image: url(12.jpg);
        background-size: 100% 100%;



    }

    header {
        background-color: black;
        height: 6em;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;



    }


    .color {
        color: white;
        font-family: cursive;
        font-size: 0.625em;

    }

    .color:hover {
        font-family: cursive;
        color: #EC485C;
        font-size: 0.75em;
        text-decoration: none;
    }

    .aboutandgallery {
        height: 61.563em;

        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 2em 0;
    
    }
    .parag {
        color: white;
        font-size: 30px;
        width: 7em;
        font-weight: inherit;
        font-variant: small-caps;
    }
    .skiils {
        width: 42.100%;
        height: 6.313em;
        background-color: #233D4C;
    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;

    }
   
    .skils1 {
        width: 20.313em;
        height: 19.813em;
        background-color: #233D4C;
        border-radius: 0px;
    
    }
    
    .skils2 {
        width: 20.313em;
        height: 19.813em;
        background-color: #233D4C;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 2em;
    }
    
    .skils3 {
        width: 20.313em;
        height: 19.813em;
        background-color: #233D4C;
        border-radius: 0px;
        margin-left: 0;
        
    }
    
    .skils4 {
        width: 20.313em;
        height: 19.813em;
        background-color: #233D4C;
        border-radius: 0px;
        margin-left: 0;
    }

}


@media(max-width:375px) {

    .divnav {
        display: none;
    }

    .image {
        display: flex;
        height: 4em;
        width: 4em;
    }


    header {
        background-color: black;
        height: 6em;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {

        height : 100%;
        width: 30%;
        align-items: center;
        background-image: url(12.jpg);
        background-size: 100% 100%;
    }

    /* Important styles */
#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
    position: fixed;
    right: 20px;
    top: 37px;
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: block;
  }
  
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  
  /* menu appearance*/
  #menu {
    position: relative;
    color: #999;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: #233D4C;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
  }
   
  ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
  }
  li a:hover,
  li a:focus {
    background: #EC485C;
    color: #fff;
  }
  
  
  /* demo styles */
  body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
  p, p a { font-size: 12px;text-align: center; color: #888; }

    .image21 {
        width: 100%;
        height: 15em;
        border-radius: 0px;
    }
    .image22 {
        width: 100%;
        height: 15em;
        border-radius: 0px;
    }
    .image23{
        width: 100%;
        height: 15em;
        border-radius: 0px;
    }
    h2 {
        color: black;
        font-family: -webkit-pictograph;
        font-size: 2em;
    }
    .skiils {
        width: 100%;
        height: 6.313em;
        background-color: #233D4C;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
    }
    .imagee {
        height: 15em;
        background-image: url(transparent.png);
        background-size: 100% 100%;
        margin-left: 0px;
        width: 90%;
    }
    .skils1 {
        width: 20.313em;
        height: 19.813em;
        background-color: #233D4C;
        border-radius: 0px;
        margin-bottom: 1em;
    }
    
    .skils2 {
        width: 20.313em;
        height: 19.813em;
        background-color: #233D4C;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 1em;
    }
    
    .skils3 {
        width: 20.313em;
        height: 19.813em;
        background-color: #233D4C;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 1em;
    }
    
    .skils4 {
        width: 20.313em;
        height: 19.813em;
        background-color: #233D4C;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 1em;
    }
    .title3 {

        height: 15em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
}