* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/*header*/
header {
    background-image: url(Kin.gif);
    height: 6em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {

    height: 100%;
    width: 15%;
    align-items: center;
    background-image: url(12.jpg);
    background-size: 100% 100%;

}
.menubar{
    display :none;
}

#toggle {
    display: none;
}

.divnav {

    height: 4em;
    width: 50%;

}

.navbar {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color {
    color: white;
    font-family: cursive;
    text-decoration: none;
    transition: all 1s ease-in-out;

}

.color:hover {
    font-family: cursive;
    color: #ff6539;
    font-size: 1.563em;
    text-decoration: none;
}

.image {
    display: none;

}

/*sectionµ*/
section {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border: black solid;


}

.container {
    width: auto;
    margin: auto;

}

.maine {
    background-color: #004a9e;
    flex: 1;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 4em 0;
}

.imagee {

    height: 15em;
    width: 28em;
    background-image: url(transparent.png);
    background-size: 100% 100%;
    cursor: pointer;





}

.title3 {

    height: 10em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;



}

.twitter {

    height: 15em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;


}

.image1 {
    height: 8em;
    width: 8em;

}

h3,
.petit.title {
    color: rgb(5, 1, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
.grande.titel {
    font-family: cursive;
    color: rgb(230, 220, 220);
}

h1 {
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 3s steps(15), blink 1s infinite;
    border-right: 3px solid;
}

@keyframes tapper {
    from {
        width: 0ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.grande-titel:click {
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 3s steps(35), blink 0.5s infinite;
    border-right: 3px solid;

}

@keyframes tapper {
    from {
        width: 0ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.h11 {
    font-size: 20px;
    width: 30ch;
}

h6 {
    color: rgb(243, 234, 234);
    opacity: 70%;
}

button {
    width: 50%;
    color: white;
    background-color: black;
    cursor: pointer;
}

.span1 {
    color: #004a9e;
}

.aboutandgallery {
    flex: 1;
    background-color: rgb(255, 251, 251);
    display: flex;
    justify-content: space-around;
    margin: 0 0 4em 0;
    align-items: center;
}

.aboutme {
    height: 41.563em;
    width: 35.938em;
    background-color: #2066b6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2em;

}

.gallery {
    height: 61.563em;
    width: 30.938em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    color: black;
    font-family: -webkit-pictograph;
    font-size: 3em;

}

.parag {
    color: white;
    font-size: 30px;
    width: 10em;
    font-weight: inherit;
    font-variant: small-caps;
}

span {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image21 {
    width: 100%;
    height: 15em;
    border-radius: 20px;
    cursor: pointer;
}

.image22 {
    width: 100%;
    height: 15em;
    border-radius: 20px;
    cursor: pointer;
}

.image23 {
    width: 100%;
    height: 15em;
    border-radius: 20px;
    cursor: pointer;
}

.image31 {
    height: 15em;
    width: 15em;
    border-radius: 120px;
    transition: all .9s ease-in-out;
}

.image31:hover {
    height: 17em;
    width: 17em;
    border-radius: 130px;
    cursor: pointer;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;

    background-color: #0371b1;
    align-items: center;

    height: auto;



}

.skiils {
    width: 31em;
    height: 6.313em;
    background-color: #233D4C;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 1em 0 1em 0;

}

h5 {
    font-size: 50px;
    color: #ffffff;
    font-family: cursive;
}

.my4skills {
    height: auto;
    width: auto;
    margin: 0 0 1em 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skils1 {
    width: 20.313em;
    height: 19.813em;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.coding {
    width: auto;
}

.titleS1 {
    color: rgb(12, 107, 216);

}

.paragraphe {
    width: 60%;
}

.progress1 {
    margin: 20px auto;
    padding: 0;
    width: 60%;
    height: 30px;
    overflow: hidden;
    background: #233D4C;
    border-radius: 6px;
}

.bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: cornflowerblue;
}

.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    color: white;
}

.skils2 {
    width: 20.313em;
    height: 19.813em;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.progress2 {
    margin: 20px auto;
    padding: 0;
    width: 60%;
    height: 30px;
    overflow: hidden;
    background: #233D4C;
    border-radius: 6px;
}

.bar2 {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #EC485C;
}

.percent2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    color: white;
}

.Designe {
    width: auto;
}

.titelS2 {
    color: #EC485C;
}

.skils3 {
    width: 20.313em;
    height: 19.813em;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.progress3 {
    margin: 20px auto;
    padding: 0;
    width: 60%;
    height: 30px;
    overflow: hidden;
    background: #233D4C;
    border-radius: 6px;
}

.bar3 {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #ff6538;
}

.percent3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    color: white;
}

.sport {
    width: auto;
}

.titleS3 {
    color: #ff6538;
}


.skils4 {
    width: 20.313em;
    height: 19.813em;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titelS4 {
    color: #b54d8a;
}

.progress4 {
    margin: 20px auto;
    padding: 0;
    width: 60%;
    height: 30px;
    overflow: hidden;
    background: #233D4C;
    border-radius: 6px;
}

.bar4 {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #b54d8a;
}

.percent4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    color: white;
}

footer {

    background-color: black;
    height: 6em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    width: 100%;

}

.reseuS {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

.facebook {
    height: 50%;
    width: 60%;
    cursor: pointer;
}

.appelmoi {
    height: 50%;
    width: 50%;
    cursor: pointer;
}

.instagram {
    height: 50%;
    width: 50%;
    cursor: pointer;
}

.github {
    height: 40%;
    width: 40%;
    cursor: pointer;
}



.thanks {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.h11 {
    font-size: 15px;
    width: 30ch;
}

.navfooter {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.barre {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    transition: all 1s ease-in-out;

}

.barre:hover {
    color: #ff6539;
    text-decoration: none;
    font-size: 15px;



}




/* mediaquery*/

@media (max-width:768px) {

    .maine {
        background-color: #004a9e;
        flex: 1;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 2em 0;
    }

    .imagee {

        height: 24em;
        width: 35em;
        background-image: url(transparent.png);
        background-size: 100% 100%;
        margin-left: 0px;


    }

    .title3 {

        height: 15em;
        width: 29em;
        display: flex;
        flex-direction: column;
        justify-content: center;



    }
    button {
        width: 32%;
        color: rgb(255, 255, 255);
        background-color: black;
        cursor: pointer;
    }
    

    .twitter {

        height: 15em;
        width: 20em;
        display: none;
        justify-content: center;
        align-items: center;


    }




    .logo {

        height: 100%;
        width: 15%;
        align-items: center;
        background-image: url(12.jpg);
        background-size: 100% 100%;



    }

    header {
        background-color: black;
        height: 6em;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;



    }


    .color {
        color: white;
        font-family: cursive;
        font-size: 0.625em;

    }

    .color:hover {
        font-family: cursive;
        color: #ff6539;
        font-size: 0.75em;
        text-decoration: none;
    }

    .aboutandgallery {
        height: 61.563em;

        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 2em 0;

    }

    .parag {
        color: white;
        font-size: 30px;
        width: 7em;
        font-weight: inherit;
        font-variant: small-caps;
    }

    .skiils {
        width: 42.100%;
        height: 6.313em;
        background-color: #233D4C;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;

    }

    .skils1 {
        width: 20.313em;
        height: 19.813em;
        background-color: #f8f8f8;
        border-radius: 0px;

    }

    .skils2 {
        width: 20.313em;
        height: 19.813em;
        background-color: white;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 2em;
    }

    .skils3 {
        width: 20.313em;
        height: 19.813em;
        background-color: white;
        border-radius: 0px;
        margin-left: 0;

    }

    .skils4 {
        width: 20.313em;
        height: 19.813em;
        background-color: white;
        border-radius: 0px;
        margin-left: 0;
    }

    .barre {
        color: #ffffff;
        text-decoration: none;
        font-size: 10px;
        transition: all 1s ease-in-out;
    }

    .barre:hover {
        color: #ff6539;
        text-decoration: none;
        font-size: 10px;

    }

}

@media(max-width:375px) {

    .divnav {
        display: none;
    }

    .image {
        display: flex;
        height: 4em;
        width: 4em;
    }


    header {
        background-color: black;
        height: 6em;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {

        height: 100%;
        width: 30%;
        align-items: center;
        background-image: url(12.jpg);
        background-size: 100% 100%;
    }
    .menubar{
        display :flex;
    }
    /* Important styles */
    #toggle {
        display: block;
        width: 28px;
        height: 30px;
        margin: 30px auto 10px;
        position: absolute;
        right: 20px;
        top: 37px;
    }

    #toggle span:after,
    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        top: 9px;
    }

    #toggle span {
        position: relative;
        display: block;
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 5px;
        background-color: #888;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    /* on activation */
    #toggle.on span {
        background-color: transparent;
    }

    #toggle.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    #toggle.on+#menu {
        opacity: 1;
        visibility: visible;
    }

    /* menu appearance*/
    #menu {
        position: absolute;
        color: #999;
        width: 290px;
        padding: 10px;
        margin: auto;
        font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
        text-align: center;
        border-radius: 4px;
        background: #233D4C;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
        /* just for this demo */
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s;
    }

    ul,
    li,
    li a {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }

    li a {
        padding: 5px;
        color: #888;
        text-decoration: none;
        transition: all .2s;
    }

    li a:hover,
    li a:focus {
        background: #004a9e;
        color: #fff;
    }


    /* demo styles */
    body {

        background: #eee;
        color: #555;
        font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    }

    p,
    p a {
        font-size: 12px;
        text-align: center;
        color: #888;
    }

    .image21 {
        width: 100%;
        height: 15em;
        border-radius: 0px;
    }

    .image22 {
        width: 100%;
        height: 15em;
        border-radius: 0px;
    }

    .image23 {
        width: 100%;
        height: 15em;
        border-radius: 0px;
    }

    h2 {
        color: black;
        font-family: -webkit-pictograph;
        font-size: 1.5em;
    }

    .aboutme {
        border-radius: 0px;
    }

    .parag {
        width: 10em;
    }

    .skiils {
        width: 100%;
        height: 6.313em;
        background-color: #233D4C;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
    }

    .imagee {
        height: 15em;
        background-image: url(transparent.png);
        background-size: 100% 100%;
        margin-left: 0px;
        width: 90%;
    }

    .skils1 {
        width: 20.313em;
        height: 19.813em;
        background-color: white;
        border-radius: 0px;
        margin-bottom: 1em;
    }

    .skils2 {
        width: 20.313em;
        height: 19.813em;
        background-color: white;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 1em;
    }

    .skils3 {
        width: 20.313em;
        height: 19.813em;
        background-color: white;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 1em;
    }

    .skils4 {
        width: 20.313em;
        height: 19.813em;
        background-color: white;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 1em;
    }

    .title3 {

        height: 15em;
        width: 78%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    footer {
        background-color: black;
        height: 6em;
        width: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .thanks {
        display: none;
    }

    .navfooter {
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .barre {
        color: #ffffff;
        text-decoration: none;
        font-size: 10px;
        transition: all 1.5s ease-in-out;
    }

}